# Error al alinear ya que se intenta alinear con parejas de cualquier atomo y en realidad es solo tomando Calfalfas y los elementos del clique para obtener el SO y su RMSD

Se corrige al obtener la mejor pareja de cliques que maximiza el SO con las parejas de residuos agarradas, se genera una nueva matriz de rotacion con las parejas anteriores y se generan nuevas parejas donde se ordena nuevamente por distancia la mejor pareja, obteniendo el alineamiento final.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sys
sys.path.append('../')
sys.path.append('../math_tricks/')
import funciones_CLICK as fc
from scipy.spatial.distance import pdist, squareform
import multiprocessing

%matplotlib inline

In [29]:
rmsd = pd.read_pickle("../df_alineados.pkl")
rmsd

    distancia  candigatos  cand_1  cand2
0  0.3368      (485, 796)  485     796
1  0.5361      (136, 279)  136     279
2  0.9679      (251, 710)  251     710
3  1.0505      (342, 300)  342     300
4  1.1205      (197, 834)  197     834
5  1.3781      (121, 243)  121     243
6  1.4080      (180, 847)  180     847
7  1.5792      (476, 377)  476     377
8  1.6667      (27, 2)     27      2
9  1.6835      (383, 605)  383     605
10 1.7145      (306, 622)  306     622
11 1.7262      (221, 691)  221     691
12 1.7435      (325, 660)  325     660
13 1.9313      (210, 675)  210     675
14 1.9357      (229, 683)  229     683
15 2.0076      (414, 519)  414     519
16 2.0520      (317, 638)  317     638
17 2.0740      (290, 579)  290     579
18 2.1059      (397, 545)  397     545
19 2.1761      (390, 562)  390     562
20 2.1820      (286, 533)  286     533
21 2.2371      (102, 161)  102     161
22 2.3191      (277, 716)  277     716
23 2.3316      (439, 77)   439     77
24 2.3475      (175, 840)  175     840
25 2.5319      (166, 871)  166     871
26 2.5463      (146, 328)  146     328
27 2.5647      (448, 386)  448     386
28 2.6547      (86, 152)   86      152
29 2.6759      (205, 669)  205     669
30 2.7482      (74, 193)   74      193
31 2.8254      (66, 52)    66      52
32 2.8589      (357, 249)  357     249
33 2.8767      (464, 371)  464     371
34 2.8870      (310, 614)  310     614
35 2.9120      (19, 10)    19      10
36 2.9429      (490, 808)  490     808
37 2.9518      (58, 42)    58      42
38 2.9578      (50, 29)    50      29
39 2.9647      (153, 323)  153     323
40 3.0654      (350, 291)  350     291
41 3.2608      (107, 206)  107     206

In [2]:
df_atoms1 = pd.read_pickle('../clique1_df_atributos.pkl')
df_atoms2 = pd.read_pickle('../clique2_df_atributos.pkl')

rmsd = pd.read_pickle("../df_alineados.pkl")
parejas_clique = pd.read_pickle('../parejas.pkl')
parejas_clique = parejas_clique.astype(int)

In [13]:
parejas_clique = [tuple(i) for i in parejas_clique.values]

vecs1 = np.array([vecs for vecs in df_atoms1.vector.values])
vecs2 = np.array([vecs for vecs in df_atoms2.vector.values])

#baricentro
bari_1 = vecs1.mean(0)
bari_2 = vecs2.mean(0)

#vectores centricos
vecs_center_1 = vecs1 - bari_1
vecs_center_2 = vecs2 - bari_2

parejas = rmsd.candigatos.values
parejas = list(parejas)
for i in parejas_clique:
    parejas.append(i)
    
    
def R_ij(i,j):
    valor = sum([vecs_center_1[pos_res[0] - 1, i] * vecs_center_2[pos_res[1] - 1, j] for pos_res in parejas])
    return valor

temp = pd.DataFrame(parejas)[1].values

def matrix_R():
    
    """cliques a comparar: i,j
    desde aqui se itera sobre cada i y hay que variar los vectores
    coordenada
    Regresa la matriz gigante (matriz simetrica del articulo)"""
    # primer renglon
    R11R22R33 = (R_ij(0, 0) + R_ij(1, 1) + R_ij(2, 2))
    R23_R32 = (R_ij(1, 2) - R_ij(2, 1))
    R31_R13 = (R_ij(2, 0) - R_ij(0, 2))
    R12_R21 = (R_ij(0, 1) - R_ij(1, 0))
    # segundo renglon
    R11_R22_R33 = (R_ij(0, 0) - R_ij(1, 1) - R_ij(2, 2))
    R12R21 = (R_ij(0, 1) + R_ij(1, 0))
    R13R31 = (R_ij(0, 2) + R_ij(2, 0))
    # tercer renglon
    _R11R22_R33 = (-R_ij(0, 0) + R_ij(1, 1) - R_ij(2, 2))
    R23R32 = (R_ij(1, 2) + R_ij(2, 1))
    # cuarto renglon
    _R11_R22R33 = (-R_ij(0, 0) - R_ij(1, 1) + R_ij(2, 2))

    matriz_R = [
        [R11R22R33, R23_R32, R31_R13, R12_R21],
        [R23_R32, R11_R22_R33, R12R21, R13R31],
        [R31_R13, R12R21, _R11R22_R33, R23R32],
        [R12_R21, R13R31, R23R32, _R11_R22R33]
    ]
    return (matriz_R)

def rotation_matrix(matriz_R):
    """utilizando la funcion giant_matrix, fijando los valores de i,j
    se calcula la matriz de rotacion con los eigenvectores y eigenvalores
    arroja una matriz de rotacion que depende de la matriz gigante
    """
    eignvalues, eigenvectors = np.linalg.eig(matriz_R)
    q = eigenvectors[:, np.argmax(eignvalues)]
    q0, q1, q2, q3 = q[0], q[1], q[2], q[3]
    # matriz de rotacion con eigenvectores
    matriz_rotacion = np.array([
        [(q0 ** 2 + q1 ** 2 - q2 ** 2 - q3 ** 2), 2 * (q1 * q2 - q0 * q3), 2 * (q1 * q3 + q0 * q2)],
        [2 * (q1 * q2 + q0 * q3), (q0 ** 2 - q1 ** 2 + q2 ** 2 - q3 ** 2), 2 * (q2 * q3 - q0 * q1)],
        [2 * (q1 * q3 - q0 * q2), 2 * (q2 * q3 + q0 * q1), (q0 ** 2 - q1 ** 2 - q2 ** 2 + q3 ** 2)]
    ], dtype=np.float64)
    return (matriz_rotacion)

def rotation_vectors(vector_gorro, matriz_rotacion):
    """obtencion de vector rotado,
    utilizando la matriz de rotacion
    y los vectores gorro a rotar y trasladar"""

    coord_rotado = [np.matmul(
        matriz_rotacion, i.reshape(3, 1)).T[0] for i in vector_gorro]
    return (coord_rotado)

matriz_R = matrix_R()
matriz_rotacion = rotation_matrix(matriz_R)
vector_rotado = rotation_vectors(vecs_center_1, matriz_rotacion)
vector_rotado_trasladado_a_clique2 = vector_rotado + np.array(bari_2)
protein_trasladado_rotado = vector_rotado_trasladado_a_clique2
protein_to_compare = vecs2

protein_trasladado_rotado

In [14]:
import read_pdb_tools as rpt
file1 = '../1xxa_clean.pdb'
pdb1 = rpt.PdbStruct(file1)
pdb1.AddPdbData("%s" % file1)
pdb1.GetNeighbors()
pdb11 = pdb1.GetResChain()

In [15]:
new_df_atom1 = pd.concat([df_atoms1, pd.DataFrame(protein_trasladado_rotado, columns=['x', 'y', 'z'])], 1)
new_df_atom1['new_vector'] = [
    [new_df_atom1.iloc[i]['x'], new_df_atom1.iloc[i]['y'], new_df_atom1.iloc[i]['z']] for i in range(new_df_atom1.shape[0])]


for i in pdb11:
    mask = np.where(i.resi == new_df_atom1.residue_number, True, False)
    for j in new_df_atom1[mask].atom_name:
        mask_2 = np.where(new_df_atom1[mask].atom_name == j, True, False)
        i.GetAtom(j).UpDateValue('coord', new_df_atom1[mask][mask_2].new_vector.values[0])

pdb1.pdbdata = pdb11
pdb1.WriteToFile(file_out_name='1xxaclean_a_1tig')

In [16]:
atoms1 = df_atoms1.atom_number.values
atoms2 = df_atoms2.atom_number.values

residuos_match = []
for residuo_not_in_clique, res_1 in zip(protein_trasladado_rotado, atoms1):
    for residuo, res_2 in zip(protein_to_compare, atoms2):
        distancia = pdist(np.array([residuo_not_in_clique, residuo]), metric='euclidean').item()
        if distancia < 3.5:
            residuos_match.append([distancia, (res_1, res_2)])

In [17]:
number_of_residues = df_atoms1.shape[0]
df = pd.DataFrame(residuos_match, columns=['distancia', 'candigatos'])
df = df.sort_values('distancia')
df['cand1'] = df.candigatos.str[0]
df['cand2'] = df.candigatos.str[1]

c1 = []
c2 = []
cand_n = []
for i in df.values:
    if (i[2] in c1) or (i[3] in c2):
        continue
    else:
        c1.append(i[2])
        c2.append(i[3])
        cand_n.append(i)

so_temp = len(cand_n) / number_of_residues

In [18]:
so_temp

0.8082706766917294

In [19]:
parejas = pd.DataFrame(cand_n, columns=['distancia', 'candigatos', 'cand_1', 'cand2']).candigatos.values  

def R_ij(i,j):
    valor = sum([vecs_center_1[pos_res[0] - 1, i] * vecs_center_2[pos_res[1] - 1, j] for pos_res in parejas])
    return valor

In [20]:
matriz_R = matrix_R()
matriz_rotacion = rotation_matrix(matriz_R)
vector_rotado = rotation_vectors(vecs_center_1, matriz_rotacion)
vector_rotado_trasladado_a_clique2 = vector_rotado + np.array(bari_2)
protein_trasladado_rotado = vector_rotado_trasladado_a_clique2
protein_to_compare = vecs2

In [21]:
protein_trasladado_rotado

array([[13.36862555,  0.26746299, 27.0374745 ],
       [12.75355211,  1.56645933, 26.82490415],
       [13.34890799,  2.16341522, 25.5531978 ],
       ...,
       [10.07241386,  1.71333738, 16.40186531],
       [11.43656032,  3.69132737, 16.29144311],
       [11.28959804,  2.31675775, 16.12952815]])

In [22]:
# def rmsd_between_cliques(clique_trasladado_rotado, atom_to_compare):
#     """Calculo de rmsd entre cliques tomando el atomo rotado y trasladado
#     y el atomo a comparar, por el momento solo imprime el resultado"""
#     # primer RMSD entre atomos
#     p12 = np.sum((np.array(
#         atom_to_compare, dtype=np.float64) - clique_trasladado_rotado) ** 2, 1)
#     rmsd_i = lambda i: np.sqrt(i) / 3
#     rmsd_final = rmsd_i(p12).mean()

#     return (rmsd_final)

In [23]:
# rmsd_between_cliques(protein_trasladado_rotado,vecs2[temp,:])

In [24]:
import read_pdb_tools as rpt
file1 = '../1xxa_clean.pdb'
pdb1 = rpt.PdbStruct(file1)
pdb1.AddPdbData("%s" % file1)
pdb1.GetNeighbors()
pdb11 = pdb1.GetResChain()

In [25]:
new_df_atom1 = pd.concat([df_atoms1, pd.DataFrame(protein_trasladado_rotado, columns=['x', 'y', 'z'])], 1)
new_df_atom1['new_vector'] = [
    [new_df_atom1.iloc[i]['x'], new_df_atom1.iloc[i]['y'], new_df_atom1.iloc[i]['z']] for i in range(new_df_atom1.shape[0])]


for i in pdb11:
    mask = np.where(i.resi == new_df_atom1.residue_number, True, False)
    for j in new_df_atom1[mask].atom_name:
        mask_2 = np.where(new_df_atom1[mask].atom_name == j, True, False)
        i.GetAtom(j).UpDateValue('coord', new_df_atom1[mask][mask_2].new_vector.values[0])

pdb1.pdbdata = pdb11
pdb1.WriteToFile(file_out_name='1xxa_clean2')

In [28]:
pd.DataFrame(parejas,columns=['parejas'])

        parejas
0    (458, 390)
1    (506, 779)
2    (313, 619)
3    (187, 671)
4    (85, 156)
5    (101, 121)
6    (73, 200)
7    (202, 352)
8    (74, 204)
9    (350, 244)
10   (111, 167)
11   (312, 621)
12   (160, 323)
13   (355, 274)
14   (259, 539)
15   (95, 120)
16   (112, 162)
17   (175, 297)
18   (182, 677)
19   (276, 507)
20   (90, 152)
21   (476, 394)
22   (481, 398)
23   (260, 537)
24   (159, 322)
25   (369, 209)
26   (317, 643)
27   (51, 44)
28   (126, 193)
29   (342, 290)
30   (86, 155)
31   (440, 99)
32   (295, 586)
33   (343, 298)
34   (198, 824)
35   (467, 79)
36   (253, 540)
37   (477, 387)
38   (163, 312)
39   (495, 372)
40   (64, 58)
41   (517, 801)
42   (249, 712)
43   (431, 117)
44   (154, 335)
45   (153, 331)
46   (303, 559)
47   (434, 88)
48   (293, 535)
49   (324, 638)
..          ...
380  (31, 11)
381  (43, 41)
382  (382, 563)
383  (149, 339)
384  (281, 500)
385  (334, 293)
386  (454, 494)
387  (193, 696)
388  (396, 568)
389  (108, 160)
390  (24, 16)
391  (299, 582)
392  (463, 85)
393  (190, 694)
394  (164, 313)
395  (176, 835)
396  (45, 38)
397  (269, 557)
398  (449, 419)
399  (115, 197)
400  (241, 617)
401  (169, 329)
402  (503, 64)
403  (386, 592)
404  (304, 560)
405  (158, 310)
406  (17, 804)
407  (38, 357)
408  (78, 91)
409  (166, 840)
410  (121, 205)
411  (333, 294)
412  (50, 42)
413  (292, 585)
414  (425, 102)
415  (500, 785)
416  (514, 748)
417  (359, 247)
418  (60, 60)
419  (103, 131)
420  (129, 242)
421  (271, 502)
422  (264, 511)
423  (361, 353)
424  (383, 591)
425  (452, 491)
426  (329, 261)
427  (174, 834)
428  (87, 153)
429  (358, 208)

[430 rows x 1 columns]