In [98]:
import pandas as pd
import numpy as np

%matplotlib inline

In [99]:
clq_3 = pd.read_pickle('cliques_rmsd_dist3.pkl')
clq_3['rmsd'] = clq_3[2].str[0]
clq_3['dist'] = clq_3[2].str[1]
clq_3['cand'] = np.where(clq_3.rmsd < 0.15,1,0)
clq_3.head()

,0,1,2,rmsd,dist,cand
0,"(3, 22, 23)","(15, 7, 14)","(2.7489830278262097, 0.09446242413033135)",2.748983,0.094462,0
1,"(3, 22, 23)","(8, 11, 10)","(1.204415543371042, 0.9585068583823326)",1.204416,0.958507,0
2,"(3, 22, 23)","(22, 5, 6)","(1.9802242396863956, 0.44833384642578533)",1.980224,0.448334,0
3,"(3, 22, 23)","(6, 24, 5)","(1.6054848174546772, 0.9932842480750113)",1.605485,0.993284,0
4,"(3, 22, 23)","(25, 26, 24)","(3.0701678397811727, 1.415504693010484)",3.070168,1.415505,0

In [100]:
clq_3.groupby('cand').dist.describe(percentiles=np.linspace(0,1,11)).T

cand               0           1
count  249524.000000  476.000000
mean        0.820443    0.037608
std         0.590539    0.030554
min         0.000079    0.000109
0%          0.000079    0.000109
10%         0.134616    0.006577
20%         0.268494    0.012524
30.0%       0.411977    0.018863
40%         0.553348    0.023797
50%         0.711883    0.029298
60.0%       0.887359    0.035276
70%         1.083428    0.040710
80%         1.318931    0.065361
90%         1.662211    0.089215
100%        3.312249    0.136463
max         3.312249    0.136463

In [101]:
clq_3 = pd.read_pickle('cliques_rmsd_dist4.pkl')
clq_3['rmsd'] = clq_3[2].str[0]
clq_3['dist'] = clq_3[2].str[1]
clq_3['cand'] = np.where(clq_3.rmsd < 0.30,1,0)
clq_3.head()

,0,1,2,rmsd,dist,cand
0,"(6, 24, 25, 5)","(22, 20, 24, 4)","(3.6592855605627155, 0.5377775539709617)",3.659286,0.537778,0
1,"(6, 24, 25, 5)","(4, 21, 5, 6)","(3.6615923788736735, 0.5275363686097765)",3.661592,0.527536,0
2,"(6, 24, 25, 5)","(17, 16, 19, 29)","(3.18612625755294, 0.0012526693878456285)",3.186126,0.001253,0
3,"(6, 24, 25, 5)","(2, 6, 5, 3)","(1.6935958780174982, 0.5192995666388205)",1.693596,0.519300,0
4,"(6, 24, 25, 5)","(9, 10, 8, 7)","(4.052696680977514, 0.3950600662630137)",4.052697,0.395060,0

In [102]:
clq_3.groupby('cand').describe(percentiles=np.linspace(0,1,11)).T

cand                    0         1
dist count  249994.000000  6.000000
     mean        0.619550  0.067604
     std         0.452607  0.048299
     min         0.000001  0.018941
     0%          0.000001  0.018941
     10%         0.100707  0.024584
     20%         0.200556  0.030227
     30.0%       0.305144  0.035054
     40%         0.415096  0.039882
     50%         0.532121  0.051038
     60.0%       0.667373  0.062193
     70%         0.812746  0.094629
     80%         1.000410  0.127065
     90%         1.266671  0.127191
     100%        2.682857  0.127317
     max         2.682857  0.127317
rmsd count  249994.000000  6.000000
     mean        2.942687  0.242749
     std         0.772213  0.077816
     min         0.343662  0.089398
     0%          0.343662  0.089398
     10%         1.933316  0.165331
     20%         2.278107  0.241264
     30.0%       2.530705  0.250810
     40%         2.743850  0.260355
     50%         2.946000  0.269114
     60.0%       3.147456  0.277874
     70%         3.361631  0.285433
     80%         3.607706  0.292992
     90%         3.947963  0.293802
     100%        5.711997  0.294611
     max         5.711997  0.294611

In [103]:
clq_3 = pd.read_pickle('cliques_rmsd_dist5.pkl')
clq_3['rmsd'] = clq_3[2].str[0]
clq_3['dist'] = clq_3[2].str[1]
clq_3['cand'] = np.where(clq_3.rmsd < 0.60,1,0)

In [104]:
clq_3.head()

,0,1,2,rmsd,dist,cand
0,"(7, 21, 5, 4, 6)","(21, 7, 6, 24, 4)","(3.699842530603005, 0.555273042296613)",3.699843,0.555273,0
1,"(7, 21, 5, 4, 6)","(23, 5, 3, 4, 22)","(3.411111500594328, 0.3715611900720086)",3.411112,0.371561,0
2,"(7, 21, 5, 4, 6)","(15, 8, 7, 14, 12)","(4.338067902926168, 0.9099820162281542)",4.338068,0.909982,0
3,"(7, 21, 5, 4, 6)","(15, 16, 29, 18, 17)","(4.312785579218787, 0.13420125159408602)",4.312786,0.134201,0
4,"(7, 21, 5, 4, 6)","(22, 20, 24, 23, 4)","(3.4470770897099117, 0.14857602712905926)",3.447077,0.148576,0

In [105]:
clq_3.groupby('cand').describe(percentiles=np.linspace(0,1,11)).T

cand                    0         1
dist count  249998.000000  2.000000
     mean        0.473999  0.162155
     std         0.355059  0.226596
     min         0.000005  0.001927
     0%          0.000005  0.001927
     10%         0.073565  0.033973
     20%         0.149195  0.066019
     30.0%       0.228482  0.098064
     40%         0.311870  0.130110
     50%         0.402030  0.162155
     60.0%       0.501170  0.194201
     70%         0.620708  0.226246
     80%         0.767251  0.258292
     90%         0.983415  0.290338
     100%        2.108515  0.322383
     max         2.108515  0.322383
rmsd count  249998.000000  2.000000
     mean        3.514383  0.587104
     std         0.704942  0.016135
     min         0.663385  0.575695
     0%          0.663385  0.575695
     10%         2.583046  0.577976
     20%         2.913179  0.580258
     30.0%       3.151063  0.582540
     40%         3.352437  0.584822
     50%         3.539070  0.587104
     60.0%       3.720870  0.589386
     70%         3.911906  0.591667
     80%         4.128422  0.593949
     90%         4.411774  0.596231
     100%        5.949853  0.598513
     max         5.949853  0.598513

In [106]:
clq_3 = pd.read_pickle('cliques_rmsd_dist6.pkl')
clq_3['rmsd'] = clq_3[2].str[0]
clq_3['dist'] = clq_3[2].str[1]
clq_3['cand'] = np.where(clq_3.rmsd < 0.9,1,0)
clq_3.head()

,0,1,2,rmsd,dist,cand
0,"(6, 24, 4, 1, 5, 23)","(14, 19, 16, 17, 29, 18)","(4.210155030624561, 0.48325239164946465)",4.210155,0.483252,0
1,"(6, 24, 4, 1, 5, 23)","(7, 5, 4, 3, 24, 2)","(4.8755828321137, 0.35682904379601554)",4.875583,0.356829,0
2,"(6, 24, 4, 1, 5, 23)","(19, 29, 18, 14, 15, 16)","(4.100405799576852, 0.31706100449548424)",4.100406,0.317061,0
3,"(6, 24, 4, 1, 5, 23)","(25, 30, 29, 28, 26, 24)","(3.4443862197354926, 0.2865692618405449)",3.444386,0.286569,0
4,"(6, 24, 4, 1, 5, 23)","(24, 4, 6, 20, 5, 21)","(4.301989051375056, 0.22752010979439463)",4.301989,0.227520,0

In [107]:
clq_3.groupby('cand').describe(percentiles=np.linspace(0,1,11)).T

cand                    0         1
dist count  249998.000000  2.000000
     mean        0.348528  0.175646
     std         0.266624  0.171581
     min         0.000002  0.054320
     0%          0.000002  0.054320
     10%         0.051895  0.078585
     20%         0.107927  0.102850
     30.0%       0.163184  0.127116
     40%         0.224492  0.151381
     50%         0.289617  0.175646
     60.0%       0.368508  0.199911
     70%         0.451041  0.224177
     80%         0.565085  0.248442
     90%         0.735946  0.272707
     100%        1.756798  0.296972
     max         1.756798  0.296972
rmsd count  249998.000000  2.000000
     mean        3.882542  0.763461
     std         0.631513  0.184989
     min         0.923842  0.632654
     0%          0.923842  0.632654
     10%         3.041457  0.658816
     20%         3.354657  0.684977
     30.0%       3.571000  0.711138
     40%         3.753904  0.737300
     50%         3.919949  0.763461
     60.0%       4.079885  0.789623
     70%         4.244884  0.815784
     80%         4.429544  0.841945
     90%         4.668615  0.868107
     100%        6.141328  0.894268
     max         6.141328  0.894268

In [108]:
clq_3 = pd.read_pickle('cliques_rmsd_dist7.pkl')
clq_3['rmsd'] = clq_3[2].str[0]
clq_3['dist'] = clq_3[2].str[1]
clq_3['cand'] = np.where(clq_3.rmsd < 1.5,1,0)
clq_3.head()

,0,1,2,rmsd,dist,cand
0,"(25, 6, 21, 4, 22, 23, 24)","(7, 13, 9, 8, 12, 10, 11)","(4.893494413137008, 0.35687194587518256)",4.893494,0.356872,0
1,"(25, 6, 21, 4, 22, 23, 24)","(23, 3, 4, 6, 24, 21, 22)","(3.414485963308651, 0.0251875195796627)",3.414486,0.025188,0
2,"(25, 6, 21, 4, 22, 23, 24)","(24, 4, 21, 5, 20, 6, 23)","(4.88095450520218, 0.1887144598432462)",4.880955,0.188714,0
3,"(25, 6, 21, 4, 22, 23, 24)","(23, 4, 5, 21, 24, 20, 6)","(4.241693091504243, 0.1887144598432453)",4.241693,0.188714,0
4,"(25, 6, 21, 4, 22, 23, 24)","(4, 2, 5, 7, 6, 3, 24)","(4.257744521399972, 0.23480331499675522)",4.257745,0.234803,0

In [109]:
clq_3.groupby('cand').describe(percentiles=np.linspace(0,1,11)).T

cand                    0         1
dist count  249991.000000  9.000000
     mean        0.228397  0.202030
     std         0.191603  0.186368
     min         0.000905  0.029002
     0%          0.000905  0.029002
     10%         0.030654  0.046459
     20%         0.061537  0.063119
     30.0%       0.095568  0.075841
     40%         0.131279  0.102192
     50%         0.180189  0.180444
     60.0%       0.230596  0.182935
     70%         0.290622  0.213431
     80%         0.376398  0.295548
     90%         0.495146  0.430741
     100%        1.008699  0.598297
     max         1.008699  0.598297
rmsd count  249991.000000  9.000000
     mean        4.138681  1.304692
     std         0.568097  0.282116
     min         1.530417  0.617324
     0%          1.530417  0.617324
     10%         3.377319  1.043368
     20%         3.670919  1.216619
     30.0%       3.868968  1.318083
     40%         4.031999  1.406732
     50%         4.179550  1.419505
     60.0%       4.322741  1.428580
     70%         4.469088  1.459800
     80%         4.628589  1.481333
     90%         4.836618  1.486993
     100%        6.057250  1.496243
     max         6.057250  1.496243